.botones {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: #8bc7f8;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}