.dificultad-botones {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
}

.juego-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}
.juego-header span {
    background-color: #2e8682;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.reiniciar-btn {
    padding:15px 25px;
    background-color: #2e8682;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.reiniciar-btn:hover {
    background-color: #256d6a;
    
}

.siguiente-pregunta-container {
    margin-top: 20px;
    width: 100%;
}


@media (min-width: 768px) {
  .dificultad-botones,
  .juego-header,
  .siguiente-pregunta-container {
    width: 50%; 
  }
}

.app-content h2 {
  text-align: center;
  max-width: 90%; 
}

.error-mensaje {
  color: #dc3545; /* Mismo rojo que el botón incorrecto */
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}