.dificultad-botones {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    
}

.juego-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.reiniciar-btn {
    padding: 8px 12px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reiniciar-btn:hover {
    background-color: #5a6268;
}

.siguiente-pregunta-container {
    margin-top: 20px;
    width: 50%;
}