.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  padding: 1rem;
  background-color: #e9ecef;
  justify-content: center;
  gap: 20px;
}

.app-header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #8bc7f8;
  padding: 5%;
}

.app-header h1 {
  font-size: 3rem;
  color: #420929;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

